<dialog class="accept-dia align-text-top my-auto mx-auto">
  <form class="accept-form" method="dialog">
    <input type="hidden" class="submission-id" value="{{id}}" />
    <h3>Please Confirm</h3>
    <div class="mt-3 mb-3">
      <label>Title:</label>
      <input name="title" class="title" value="{{preview.title}}" readonly />
    </div>
    <div class="mt-3 mb-3">
      <label>Author:</label>
      <input name="author" class="author" value="{{author}}" readonly />
    </div>
    <div class="mt-3 mb-3">
      <label>Article Link:</label>
      <input name="art_url" class="art_url" value="{{preview.url}}" readonly />
    </div>
    <div class="mt-3 mb-3">
      <label>Summary:</label>
      <input
        name="summary"
        class="summary"
        value="{{preview.description}}"
        readonly
      />
    </div>
    <div class="mt-3 mb-3">
      <label>Which Policy?</label>
      <select class="policy-choice">
        <option value="default">Choose...</option>
        {{#each policies}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="d-table mx-auto mt-3 mb-3">
      <button
        type="button"
        value="cancel"
        class="close-btn btn btn-outline-danger"
      >Nevermind</button>
      <button type="submit" class="btn btn-outline-success">Confirm</button>
    </div>
  </form>
</dialog>
<script src="/js/confirm-btn.js"></script>