<dialog class="accept-dia align-text-top my-auto mx-auto">
  <form class="accept-form" method="dialog">
    <input type="hidden" class="submission-id" value="{{id}}" />
    <h3>Please Confirm</h3>
    <div class="mt-3 mb-3">
      <label>Title:</label>
      <span class="title">{{preview.title}}</span>
    </div>
    <div class="mt-3 mb-3">
      <label>Author:</label>
      <span class="author">{{author}}</span>
    </div>
    <div class="mt-3 mb-3">
      <label>Article Link:</label>
      <span class="art_url">{{preview.url}}</span>
    </div>
    <div class="mt-3 mb-3">
      <label>Summary:</label>
      <span class="summary">{{preview.description}}</span>
    </div>
    <div class="mt-3 mb-3">
      <label>Which Policy?</label>
      <select class="policy-choice">
        <option value="default">Choose...</option>
        {{#each policies}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="d-table mx-auto mt-3 mb-3">
      <button value="cancel" class="btn btn-outline-danger">Nevermind</button>
      <button type="submit" class="btn btn-outline-success">Confirm</button>
    </div>
  </form>
</dialog>
<script src="/js/confirm-btn.js"></script>