<dialog class="accept-dia align-text-top my-auto mx-auto">
  <form class="accept-form" method="dialog">
    <input type="hidden" name="id" value="{{id}}" />
    <h3>Please Confirm</h3>
    <div class="title mt-3 mb-3">
      <label>Title:</label>
      {{preview.title}}
    </div>
    <div class="author mt-3 mb-3">
      <label>Author:</label>
      {{author}}
    </div>
    <div class="art_url mt-3 mb-3">
      <label>Article Link:</label>
      {{preview.url}}
    </div>
    <div class="summary mt-3 mb-3">
      <label>Summary:</label>
      {{preview.description}}
    </div>
    <div class="policy mt-3 mb-3">
      <label>Which Policy?</label>
      <select class="policy-list">
        <option value="default">Choose...</option>
        {{#each policies}}
          <option class="policy-choice" value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="d-table mx-auto mt-3 mb-3">
      <button value="cancel" class="btn btn-outline-danger">Nevermind</button>
      <button type="submit" class="btn btn-outline-success">Confirm</button>
    </div>
  </form>
</dialog>