<ul class="queue-list list-group-flush">
  {{#each queues}}
    <li class="list-group-item card border border-6 rounded m-5">
      <article class="queue card-body">
        <div class="title card-title">
          <a
            href="{{article_url}}"
            card="card-link"
            target="_blank"
          >{{title}}</a>
          <span>({{article_url}})</span>
        </div>
        <div class="author">
          Written by
          {{author}}
        </div>
        <div class="summary">
          {{summary}}
        </div>
        <div class="fw-bold">
          Submitted by
          {{email}}
        </div>
      </article>
      <div class="buttons float-end">
        <button type="button" class="btn btn-outline-danger">Decline</button>
        <button type="button" class="btn btn-outline-success">Accept</button>
      </div>
    </li>
  {{/each}}
</ul>